.navbar {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
    background-color: white;
    box-shadow: 0px 12px 1px 1px rgba(0, 0, 255, .2);
}

a {
    color:#006D80 !important;
}
a:active {
    color: #005463 !important;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}