#prices {
    margin-top: 20px;
    display: inline-flex;
    .element {
        display: block;
        width: 300px;
        height: 400px;
        border: 1px solid black;
        border-radius: 5px;
        margin-left: 5px;
        padding: 2px;
        .title {
            font-weight: bold;
            font-size: x-large;
        }
        .price {
            font-weight: bold;
            font-size: x-large;
            border-top: 5px solid #02a1cc;
            border-bottom: 5px solid #02a1cc;
    
        }
        .describe {
            font-size: x-small;
            font-style: italic;
        }
    }
    .liste_items ul li {
       text-align: left;
      }      
  .liste_items ul .li-yes {
    display: list-item;
    list-style-image: url('../assets/yes.png');
  }  
  .liste_items ul .li-no {
    display: list-item;
    list-style-image: url('../assets/no.png');
  }    
}

.title {
    font-weight: bold;
    text-align: center;
}

.elements {
    text-align: left;
    font-weight: bold;
}

.validate {
    width: 30px;
    height: 30px;
}


#title-row {
    border-bottom: 3px dotted grey;
}

.row-price {
    border-bottom: 1px solid grey;
}


.abo {
    text-align: center;
}


